<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.DDCategoryMapper">
  <resultMap id="BaseResultMap" type="entity.DDCategory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="turn" jdbcType="INTEGER" property="turn" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="cn_name" jdbcType="VARCHAR" property="cnName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="category_value" jdbcType="VARCHAR" property="categoryValue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, turn, en_name, cn_name, parent_id, category_value
  </sql>
  <select id="selectByExample" parameterType="entity.DDCategoryCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from d_d_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from d_d_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from d_d_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="entity.DDCategoryCriteria">
    delete from d_d_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="entity.DDCategory">
    insert into d_d_category (id, turn, en_name, 
      cn_name, parent_id, category_value
      )
    values (#{id,jdbcType=INTEGER}, #{turn,jdbcType=INTEGER}, #{enName,jdbcType=VARCHAR}, 
      #{cnName,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{categoryValue,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.DDCategory">
    insert into d_d_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="turn != null">
        turn,
      </if>
      <if test="enName != null">
        en_name,
      </if>
      <if test="cnName != null">
        cn_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="categoryValue != null">
        category_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="turn != null">
        #{turn,jdbcType=INTEGER},
      </if>
      <if test="enName != null">
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="cnName != null">
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="categoryValue != null">
        #{categoryValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="entity.DDCategoryCriteria" resultType="java.lang.Long">
    select count(*) from d_d_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update d_d_category
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.turn != null">
        turn = #{record.turn,jdbcType=INTEGER},
      </if>
      <if test="record.enName != null">
        en_name = #{record.enName,jdbcType=VARCHAR},
      </if>
      <if test="record.cnName != null">
        cn_name = #{record.cnName,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.categoryValue != null">
        category_value = #{record.categoryValue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update d_d_category
    set id = #{record.id,jdbcType=INTEGER},
      turn = #{record.turn,jdbcType=INTEGER},
      en_name = #{record.enName,jdbcType=VARCHAR},
      cn_name = #{record.cnName,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=INTEGER},
      category_value = #{record.categoryValue,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="entity.DDCategory">
    update d_d_category
    <set>
      <if test="turn != null">
        turn = #{turn,jdbcType=INTEGER},
      </if>
      <if test="enName != null">
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="cnName != null">
        cn_name = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="categoryValue != null">
        category_value = #{categoryValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.DDCategory">
    update d_d_category
    set turn = #{turn,jdbcType=INTEGER},
      en_name = #{enName,jdbcType=VARCHAR},
      cn_name = #{cnName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      category_value = #{categoryValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>