<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.DDProductMapper">
  <resultMap id="BaseResultMap" type="entity.DDProduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="add_time" jdbcType="BIGINT" property="addTime" />
    <result column="fixed_price" jdbcType="DOUBLE" property="fixedPrice" />
    <result column="dang_price" jdbcType="DOUBLE" property="dangPrice" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="has_deleted" jdbcType="INTEGER" property="hasDeleted" />
    <result column="product_pic" jdbcType="VARCHAR" property="productPic" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, category_id, product_name, description, add_time, fixed_price, dang_price, keywords, 
    has_deleted, product_pic, book_id
  </sql>
  <select id="selectByExample" parameterType="entity.DDProductCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from d_d_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from d_d_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from d_d_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="entity.DDProductCriteria">
    delete from d_d_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="entity.DDProduct">
    insert into d_d_product (id, category_id, product_name, 
      description, add_time, fixed_price, 
      dang_price, keywords, has_deleted, 
      product_pic, book_id)
    values (#{id,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{addTime,jdbcType=BIGINT}, #{fixedPrice,jdbcType=DOUBLE}, 
      #{dangPrice,jdbcType=DOUBLE}, #{keywords,jdbcType=VARCHAR}, #{hasDeleted,jdbcType=INTEGER}, 
      #{productPic,jdbcType=VARCHAR}, #{bookId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="entity.DDProduct">
    insert into d_d_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="fixedPrice != null">
        fixed_price,
      </if>
      <if test="dangPrice != null">
        dang_price,
      </if>
      <if test="keywords != null">
        keywords,
      </if>
      <if test="hasDeleted != null">
        has_deleted,
      </if>
      <if test="productPic != null">
        product_pic,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=BIGINT},
      </if>
      <if test="fixedPrice != null">
        #{fixedPrice,jdbcType=DOUBLE},
      </if>
      <if test="dangPrice != null">
        #{dangPrice,jdbcType=DOUBLE},
      </if>
      <if test="keywords != null">
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="hasDeleted != null">
        #{hasDeleted,jdbcType=INTEGER},
      </if>
      <if test="productPic != null">
        #{productPic,jdbcType=VARCHAR},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="entity.DDProductCriteria" resultType="java.lang.Long">
    select count(*) from d_d_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update d_d_product
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.productName != null">
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=BIGINT},
      </if>
      <if test="record.fixedPrice != null">
        fixed_price = #{record.fixedPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.dangPrice != null">
        dang_price = #{record.dangPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.keywords != null">
        keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.hasDeleted != null">
        has_deleted = #{record.hasDeleted,jdbcType=INTEGER},
      </if>
      <if test="record.productPic != null">
        product_pic = #{record.productPic,jdbcType=VARCHAR},
      </if>
      <if test="record.bookId != null">
        book_id = #{record.bookId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update d_d_product
    set id = #{record.id,jdbcType=INTEGER},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      product_name = #{record.productName,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=BIGINT},
      fixed_price = #{record.fixedPrice,jdbcType=DOUBLE},
      dang_price = #{record.dangPrice,jdbcType=DOUBLE},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      has_deleted = #{record.hasDeleted,jdbcType=INTEGER},
      product_pic = #{record.productPic,jdbcType=VARCHAR},
      book_id = #{record.bookId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="entity.DDProduct">
    update d_d_product
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=BIGINT},
      </if>
      <if test="fixedPrice != null">
        fixed_price = #{fixedPrice,jdbcType=DOUBLE},
      </if>
      <if test="dangPrice != null">
        dang_price = #{dangPrice,jdbcType=DOUBLE},
      </if>
      <if test="keywords != null">
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="hasDeleted != null">
        has_deleted = #{hasDeleted,jdbcType=INTEGER},
      </if>
      <if test="productPic != null">
        product_pic = #{productPic,jdbcType=VARCHAR},
      </if>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.DDProduct">
    update d_d_product
    set category_id = #{categoryId,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=BIGINT},
      fixed_price = #{fixedPrice,jdbcType=DOUBLE},
      dang_price = #{dangPrice,jdbcType=DOUBLE},
      keywords = #{keywords,jdbcType=VARCHAR},
      has_deleted = #{hasDeleted,jdbcType=INTEGER},
      product_pic = #{productPic,jdbcType=VARCHAR},
      book_id = #{bookId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
	<select id="select" resultMap="BaseResultMap">
	select * from d_d_product
	</select>
</mapper>